# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\mirei\OneDrive\Documentos\jorge\DAM\Nube\Programacion\Ejercicios\Java\EjercicioM3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
